.img-profile {
    height: 4rem;
    width: 4rem
}
.rounded-circle {
    border-radius: 50%
}
.btn-primary {
    color: #fff;
    background-color: #a157dc !important;
    border: 2px solid #a157dc !important;
    
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 7px !important;
}

.text-primary {
    color: #000000!important;
}
.sidebar-dark .nav-item .nav-link {
    color: rgb(255 255 255 / 80%);
    font-weight: 700;
    font-size: 28px;
  }

  .mainproductsingleimage img {
    width: 100%;
}

.table-responsive img {
    border-radius: 50%;
}


form.importProductsForm {
    display: flex;
}

form.importProductsForm button {
    width: 40% !important;
    padding: 10px !important;
}


form.importProductsForm input.form-control.fileUpload {
    height: 100% !important;
    border-radius: 0px !important;
    padding: 10px;
    width: 80% !important;
    margin-right: 2%;
}

.card-header.py-3.d-flex.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header.py-3.d-flex.space-between h6 {
    font-size: 24px;
}

div#usersTable_wrapper .row:nth-child(1)  , div#usersTable_wrapper .row:nth-child(3) {
    padding: 5px 10px;
}

div#usersTable_wrapper  div#usersTable_filter label {
     width: 100%;
   position: relative;
   top: 2px;
  }

div#usersTable_wrapper  div#usersTable_filter input {height: 100%;width: 90%;}



div#invitationTable_wrapper .row:nth-child(1)  , div#invitationTable_wrapper .row:nth-child(3) {
    padding: 5px 10px;
}

div#invitationTable_wrapper div#invitationTable_filter input {height: 100%;width: 90%;}

div#invitationTable_wrapper div#invitationTable_filter label {
     width: 100%;
   position: relative;
   top:2px;
}



.sidebar .nav-item  a.collapse-item {
    white-space: normal !important;
}

@media only screen and (max-width:768px) {

    .card-header.py-3.d-flex.space-between {
        display: block !important;
    }

    form.importProductsForm {
        display: block !important;
        width: 100% !important;
    }

    form.importProductsForm input.form-control.fileUpload {
        width: 100% !important;
        margin: 0px !important;
    }

    form.importProductsForm button {
        width: 100% !important;
    }

    .card-header.py-3.d-flex.space-between h6 {
        margin-bottom: 20px !important;
    }
}

@media only screen and (min-width:768px) {
    .sidebar {
        position: fixed;
    }
    
    #wrapper #content-wrapper {
        margin-left: 14rem !important;
    }
}