.img-profile {
    height: 4rem;
    width: 4rem
}
.rounded-circle {
    border-radius: 50%
}
.btn-primary {
    color: #fff;
    background-color: #a157dc !important;
    border: 2px solid #a157dc !important;
    
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 7px !important;
}

.text-primary {
    color: #000000!important;
}
.sidebar-dark .nav-item .nav-link {
    color: rgb(255 255 255 / 80%);
    font-weight: 700;
    font-size: 28px;
  }

  .mainproductsingleimage img {
    width: 100%;
}

.table-responsive img {
    border-radius: 50%;
}


form.importProductsForm {
    display: flex;
}

form.importProductsForm button {
    width: 40% !important;
    padding: 10px !important;
}


form.importProductsForm input.form-control.fileUpload {
    height: 100% !important;
    border-radius: 0px !important;
    padding: 10px;
    width: 80% !important;
    margin-right: 2%;
}

.card-header.py-3.d-flex.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header.py-3.d-flex.space-between h6 {
    font-size: 24px;
}

div#usersTable_wrapper .row:nth-child(1)  , div#usersTable_wrapper .row:nth-child(3) {
    padding: 5px 10px;
}

div#usersTable_wrapper  div#usersTable_filter label {
     width: 100%;
   position: relative;
   top: 2px;
  }

div#usersTable_wrapper  div#usersTable_filter input {height: 100%;width: 90%;}



div#invitationTable_wrapper .row:nth-child(1)  , div#invitationTable_wrapper .row:nth-child(3) {
    padding: 5px 10px;
}

div#invitationTable_wrapper div#invitationTable_filter input {height: 100%;width: 90%;}

div#invitationTable_wrapper div#invitationTable_filter label {
     width: 100%;
   position: relative;
   top:2px;
}



.sidebar .nav-item  a.collapse-item {
    white-space: normal !important;
}


/* swal css */
.swal2-popup.swal2-modal.swal2-show {
    background: #2b323a;
    padding: 20px !important;
    border-radius: 10px;
    border: 2px solid #4a4a4a !important;
}

h2#swal2-title {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
}

button.swal2-styled {
    font-weight: 500;
    background: #374151 !important;
    border: 1px solid #4a4a4a !important;
    padding: 5px 26px !important;
    font-size: 18px !important;
}

.swal2-icon.swal2-success.swal2-icon-show {
    margin-top: 0px !important;
}

.swal2-container {
    background: rgb(0 0 0 / 70%) !important;
}
.swal2-success-circular-line-left , .swal2-success-circular-line-right {
    background: #2b323a !important;
}

div#swal2-html-container {
    font-size: 20px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.swal2-success-fix {
    background: #2b323a !important;
}
/* swal css */

/* loader css */

.loaderbtn {
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #a157dc;
    animation: spin 2s linear infinite;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #a157dc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.declinedImage {
    position: relative;
}
.declinedImage:before {
    content: 'DECLINED';
    color: white !important;
    background: #de3737;
    font-size: 9px;
    font-weight: 700;
    position: absolute;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    letter-spacing: 1px;
}

/* loader css */
@media only screen and (max-width:767px) {
    .adminPublishMain {
        flex-direction: row;
    }
    
    .adminPublishMain .col-8, .adminPublishMain .col-4 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    
    .adminPublishMain .col-4 {
        margin-top: 10px;
    }
    
    .adminPublishMain .col-8 h5 {
        text-align: center;
    }
    
}
@media only screen and (max-width:768px) {



    .card-header.py-3.d-flex.space-between {
        display: block !important;
    }

    form.importProductsForm {
        display: block !important;
        width: 100% !important;
    }

    form.importProductsForm input.form-control.fileUpload {
        width: 100% !important;
        margin: 0px !important;
    }

    form.importProductsForm button {
        width: 100% !important;
    }

    .card-header.py-3.d-flex.space-between h6 {
        margin-bottom: 20px !important;
    }
}

@media only screen and (min-width:768px) {
    .sidebar {
        position: fixed;
    }
    
    .mainRightContainer {
        margin-left: 14rem !important;
        min-height: 100vh;
    }
}