.masonry {
    columns: 7;
    column-gap: 16px;
}

@media (max-width: 1200px) {
    .masonry {
        columns: 4;
    }
}

@media (max-width: 992px) {
    .masonry {
        columns: 2;
    }
}

.masonry .grid {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
}

.masonry .grid:before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
}

.masonry .grid img {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #374151;
}

.masonry .grid__title {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.masonry .grid__author {
    font-size: 14px;
    font-weight: 300;
}

.masonry .grid__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.masonry .grid__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.masonry .grid__tag {
    background-color: rgba(255, 255, 255, .8);
    color: #333;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.mt-auto {
    margin-top: auto;
}

.title img {
    height: 20px;
    margin-right: 10px;
}

.title {
    color: #adadad;
    font-size: 17px;
}

.mainrow {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.navigation a {
    margin: 0px 21px;
    text-decoration: none;
    color: #adadad;
}

.navigation a:first-child {
    margin-left: 0px;
}

.navigation a.active {
    color: white !important;
}

.filters select {
    position: relative;
    left: -10px;
}

.filters .btn:hover {
    background: #a157dc !important;
    border-color: #a157dc !important;
}

.grid__body input[type="checkbox"],
.masonry-btn-generate {
    display: none;
}

.grid:hover .grid__body input[type="checkbox"] {
    display: block;
}

.grid:hover .masonry-btn-generate {
    display: block;
    transition: .3s;
}

.masonry-btn-generate .btn:hover {
    background: #1f2937;
    border: 2px solid #374151;
}

.grid__body input[type="checkbox"] {
    position: relative;
    z-index: 9;
    accent-color: #a157dc;
    transform: scale(1.2);
    height: auto !important;
    width: auto !important;
    margin-right: 10px;
}