* {
    font-family: 'Lato', sans-serif !important;
}

body {
    padding: 0px 2%;
    /* zoom: 80%; */
}

img.HeaderLogo {
    height: 40px;
}

.header ul.nav {
    margin-left: 20px;
}

.text-light-grey {
    color: #cccccc;   
}

.text-light-grey-bg {
    background: #444f5e;   
}

.dark-grey {
    background-color: #1f2937;
}

.images_publishBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.images_publishBtns button {
    margin: 0px 5px;
}

ul.nav a:hover , .tabSections ul.nav button:hover {
    color: #cccccc; 
    transition: .3s;
    border-color: #374151 !important;
    border-width: 1px !important;
}



.tabSections ul.nav button.active {
    background-color: transparent;
    color: white !important;
    border-bottom: unset;
    border-color: #374151 !important;
    border-width: 1px !important;
}



.tabSections div#myTabContent .tab-pane {
    padding: 15px;
    border: 1px solid #374151;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.tabSections ul#myTab {
    border-color: #374151 !important;
    border-width: 1px !important;
}


ul.nav a {
    font-weight: 400;
    font-size: 17px;
}

.footer {
    text-align: center;
}

img.logoFooter {
    height: 30px;
}

.mainSection {
    margin: 15px 0px;
}


.border-radius-7 {
    border-radius: 7px !important;   
    border: 2px solid #374151;
}

.purple-col-bg {
    background-color: #a157dc;
}


.purple-col-border {
    border: 2px solid #8c2dde;
}

.purple-col {
    color: #a157dc;
}
.btn.generate {
    padding: 20px;
}

.btn.generate:hover {
    background: #444f5e;
    transition: .3s;
}

input[type="range"] {
    accent-color: #a157dc;
}

.btn.generate {
    font-size: 23px;
}

img.btn_img {
    height: 20px;
}



.modelsListings .col-md-12:nth-child(1) .input-group-append {
    position: absolute;
    right: 20px;
    height: 50%;
    top: 25%;
    width: 30px;
    z-index: 9;
}

.modelsListings .col-md-12:nth-child(1) {
    position: relative;
}

.modelsListings .col-md-12:nth-child(1) .input-group-append button {
    height: 100%;
    width: 100%;
    font-size: 17px;
    background: #0b0f19;
    color: white !important;
    border: 1px solid #374151;
    border-radius: 50%;
    position: relative;
}

input[type='text'],input[type='number'],select  {
   height:55px;
}

input:focus,button:focus, select:focus, textarea:focus  {
    background: #1f2937 !important;
    box-shadow: none !important;
    border-color: #a157dc !important;
}

input, select, textarea ,button {
    color: white !important;
}
input::placeholder, select::placeholder, textarea::placeholder {
    color: #485465 !important;
}
textarea#prompt {position: relative;}

.counterPrompt {
    position: absolute;
    right: 2%;
    background: #1f2937;
    padding: 2px 15px;
    margin-top: -15px;
    border-radius: 7px;
    border: 2px solid #374151;
}

.btn.generate:focus {
    background: #a157dc !important;
}

.relative {
    position: relative;
}

.counterPrompt span {
    font-size: 14px;
}

.counterNegPrompt {
    position: absolute;
    right: 2%;
    background: #1f2937;
    padding: 2px 15px;
    margin-top: -15px;
    border-radius: 7px;
    border: 2px solid #374151;
}

.counterNegPrompt span {
    font-size: 14px;
}

.fourEventsActions .col-md-2 {
    margin: 0px 10px;
}

.fourEventsActions .col-md-2 button {
    padding: 10px 5px;
}

.fourEventsActions .col-md-2:nth-child(1) {
    margin-left:0px;
}

.fourEventsActions .col-md-2 button:hover {
    background: #a157dc;
    border: 1px solid #8c2dde;
    transition:.3s;
}
.models_section input {
    color: white;
    background:#444f5e;
}

select , select:focus{
    background: url('https://exdiffusion.com/newproject/public/img/icons/dropdown.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y:50%;
}
.miscellaneous_section .input-group input[type="checkbox"] {
    margin: 0px 10px;
    accent-color: #a157dc;
    transform: scale(1.5);
    margin-bottom: 15px;
}

.miscellaneous_section .input-group input[type="checkbox"]:nth-child(1) {
    margin-left: 0px;
}

.miscellaneous_section .input-group label {
    margin-right: 30px;
    font-size: 16px;
    margin-bottom:15px;
}

.models_section input, .models_section select {
    height: 55px;
}

.models_section .combinebtn{
    position: absolute;
    right: 20px;
 
    top: 25%;
 z-index: 9; 
}


.models_section .combinebtn button {

    height: 30px;
    width: 30px;
    font-size: 15px;
    background: #0b0f19;
    color: white !important;
    border: 1px solid #374151;
    border-radius: 50%;
    position: relative;
}

input[type="range"] {
    width: 100%;
    margin: 19px 0px;
}



.spaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spaceBetween button {
    height: 35px;
}

.spaceBetween button img {
    height: 15px;
}

.spaceBetween input {
    width: 100px;
    text-align: center;
    height: 35px;
}


.scheduler_section .col-md-12 .col-md-12:nth-child(2) .input-group {
    display: flex;
    justify-content: space-between;
    
}

.scheduler_section .col-md-12 .col-md-12:nth-child(2) .input-group button {
    height: 55px;
}

.scheduler_section .col-md-12 .col-md-12:nth-child(2) {
    margin-top:10px;
}

.spaceBetween button img {
    height: 15px;
    position: relative;
    top:1.5px;
}
.spaceBetween input
.spaceBetween button:hover , .scheduler_section .col-md-12 .col-md-12:nth-child(2) .input-group button:hover, .heightandwidth_section .spaceBetween .inner button:hover{
    background: #a157dc;
    border-color: #8c2dde;
    transition:.3s;
}

.scheduler_section button {

    background: #444f5e;
   border-color: #374151;
   transition:.3s;
}


.enhancement_section .input-group.label input[type="checkbox"] {
    margin: 0px 10px;
    accent-color: #a157dc;
    transform: scale(1.5);
    margin-bottom: 15px;
}

.enhancement_section .input-group.label input[type="checkbox"]:nth-child(1) {
    margin-left: 0;
}

.enhancement_section .input-group.label label {
    margin-right: 30px;
    font-size: 16px;
    margin-bottom: 15px;
}

 .scheduler_section .col-md-12 .col-md-12, .enhancement_section .col-md-12 .col-md-12, .heightandwidth_section .col-md-12 .col-md-12{
   padding: 0px 5px;
}

.models_section .col-lg-5 {
    margin: 0px 7%;
}

.models_section .col-lg-5:nth-child(1) {
    margin-left: 0px !important;
}


.models_section .col-md-12  .col-md-12 {
    padding: 0px 5px;
}

.miscellaneous_section .col-md-12 .input_group {
    padding: 0px 5px;
}

.enhancement_section .col-md-12:nth-child(1) .input-group {
    padding: 0px 10px;
}

.spaceBetween .inner {
    display: flex;
    justify-content: end;
    align-items: center;
}

.spaceBetween .inner input[type="checkbox"] {
    accent-color: #a157dc;
    transform: scale(1.5);
    height: auto !important;
    width: auto !important;
    margin-right: 10px;
}

.heightandwidth_section .spaceBetween .inner button {
    margin-right: 10px;
}


.modal-open {
    overflow: hidden;
  }
.modal-open .blur-container {
    filter: blur(5px); /* Adjust the blur intensity as needed */
    transition: filter 0.5s;
}
  /* Style adjustments for the modal */
.modal-dialog.modal-md {
    max-width: 75%;
}

input.form-control.searchModelImages {
    height: 35px;
    width: 285px;
}

.modal-content {
    background-color: #0f141b;
}

.modal button.btn-close {
    background-color: #d6d6e6;
}

.modal img {

    margin-bottom: 0 !important;
}

.modal .selectedModel img  {
    border: 2px solid #a157dc;
    margin-bottom: 0 !important;
}

.modal span {
    color: white !important;
}

.scheduler_section .col-md-12 .col-md-12:nth-child(2) .input-group button {
    padding: 10px 5px !important;
}

.scheduler_section .col-md-12 .col-md-12:nth-child(2) .input-group button  img {
    height: auto;
}


.progress {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.images_result img {
    width: 48%;
    display: inline-block;
    margin: .5%;
    height: 320px;
    object-fit: cover;
    border: 2px solid #374151;
    border-radius:7px;
}

.images_result {
    padding: 20px;
    border: 2px solid #374151;
    background: #0b0f19;
    border-radius:7px;
}

.images_publishBtns img {
    margin-right: 10px;
    height: 15px;
    position: relative;
    top: -2px;
}

.images_publishBtns button {
    padding:10px 20px;
}




.progress {
    position: relative;
    height: 10px;
    margin-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
  
  #progress-bar {
    transition: width 0.3s ease-in-out;
    background-color: #a157dc;

  }
  
  #progress-label {
    margin-top: 5px;
    font-size: 14px;
  }


  input.form-control.searchModelImages {
    background: #1f2937;
    border: 2px solid #374151;
    height: 45px;
}

.modal button.btn-close {
    background-color: transparent !important;
    filter:
    invert(1);
}

input.form-control.searchModelImages {
    background: #1f2937;
    border: 2px solid #374151;
    height: 45px;
}

.modal button.btn-close {
    background-color: transparent !important;
    filter: invert(1);
}


.bodyInner {
    padding: 8px;
    background: #1f2937;
    border-radius: 7px;
}

.modal .modal-body .row .col-lg-3 {
    padding: 5px !important;
}

.bodyInner img {
    height: 220px;
    object-fit: cover;
}

.modal-content {
    background-color: #2b323a !important;
}

.modal .modal-body .row .col-lg-3 .bodyInner {position: relative;}

.modal .modal-body .row .col-lg-3 span {
    
        position: absolute;
        bottom: 7%;
        width: 80%;
        display: block;
        left: 10%;
        background: #000000a8;
        padding: 3px;
        border-radius: 7px;
        padding-left: 8px;
    
}

.modal .modal-body .row .col-lg-3 {
    position:relative;
}

@media only screen and (max-width:991px )  {

    
    .modelsListings  .mx-3{
        margin: 0px !important;
    }

    .btn.generate {
        margin-top: 30px;
    }

    .header ul.nav {
        margin-left: 0px !important;
    }
    .models_section .col-lg-5 {
        margin: 0px !important;
    }

    .spaceBetween {
        margin-top: 10px;
    }

    .enhancement_section .input-group {
        display: block;
    }
    
    .images_result img {height: 230px;}
    
}

@media only screen and (max-width:767px) {
    .fourEventsActions .col-md-2 {
        display: inline-block !important;
        width: 23% !important;
        margin: 1% !important;
    }
    div#myTabContent .col-md-6:nth-child(2) {
        margin-top: 10px;
        width: 93%;
        margin-left:3%;
    }

    .images_result img {
        width: 100% !important;
        margin: 10px 0px !important;
    }
}

@media only screen and (max-width:768px ) {
    .images_result img {height: 200px;}
    .modelsListings  .mx-3{
        margin: 0px !important;
    }

    .btn.generate {
        margin-top: 30px;
    }

    .modelsListings.input-group {
        display: block !important;
    }


.models_section  .input-group {
    display: block !important;
}

.models_section .input-group input {
    width: 100%;
    margin: 10px 0px;
}

.enhancement_section .input-group {
    display: block !important;
}

.heightandwidth_section .input-group {
    display: block !important;
}

.images_publishBtns {
    display: block !important;
}

.images_publishBtns button {
    width: 100%;
    margin: 10px 0px;
}

.images_publishBtns button img {
    margin-right: 10px;
    height: 15px;
}


.scheduler_section .input-group {
    display: block;
}
}