* {
    font-family: 'Lato', sans-serif !important;
}

body {
    padding: 0px 2%;
}

img.HeaderLogo {
    height: 40px;
}

.header ul.nav {
    margin-left: 20px;
}

.text-light-grey {
    color: #cccccc;   
}

.text-light-grey-bg {
    background: #444f5e;   
}

.dark-grey {
    background-color: #1f2937;
}

.images_publishBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.images_publishBtns button {
    margin: 0px 5px;
}

ul.nav a:hover , .tabSections ul.nav button:hover {
    color: #cccccc; 
    transition: .3s;
    border-color: #374151 !important;
    border-width: 1px !important;
}



.tabSections ul.nav button.active {
    background-color: transparent;
    color: white !important;
    border-bottom: unset;
    border-color: #374151 !important;
    border-width: 1px !important;
}



.tabSections div#myTabContent .tab-pane {
    padding: 15px;
    border: 1px solid #374151;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.tabSections ul#myTab {
    border-color: #374151 !important;
    border-width: 1px !important;
}


ul.nav a {
    font-weight: 400;
    font-size: 17px;
}

.footer {
    text-align: center;
}

img.logoFooter {
    height: 30px;
}

.mainSection {
    margin: 15px 0px;
}


.border-radius-7 {
    border-radius: 7px !important;   
    border: 2px solid #374151;
}

.purple-col-bg {
    background-color: #a157dc;
}


.purple-col-border {
    border: 2px solid #8c2dde;
}

.purple-col {
    color: #a157dc;
}
.btn.generate {
    padding: 20px;
}

.btn.generate:hover {
    background: #444f5e;
    transition: .3s;
}

input[type="range"] {
    accent-color: #a157dc;
}

.btn.generate {
    font-size: 23px;
}

img.btn_img {
    height: 20px;
}



.modelsListings .col-md-3:nth-child(1) .input-group-append {
    position: absolute;
    right: 20px;
    height: 50%;
    top: 25%;
    width: 30px;
    z-index: 9;
}

.modelsListings .col-md-3:nth-child(1) {
    position: relative;
}

.modelsListings .col-md-3:nth-child(1) .input-group-append button {
    height: 100%;
    width: 100%;
    font-size: 17px;
    background: #0b0f19;
    color: white !important;
    border: 1px solid #374151;
    border-radius: 50%;
    position: relative;
}

input[type='text'],input[type='number'],select {
   height:55px;
}

input:focus,button:focus, select:focus, textarea:focus  {
    background: #1f2937 !important;
    box-shadow: none !important;
    border-color: #a157dc !important;
}

input, select, textarea ,button {
    color: white !important;
}
input::placeholder, select::placeholder, textarea::placeholder {
    color: #485465 !important;
}
textarea#prompt {position: relative;}

.counterPrompt {
    position: absolute;
    right: 2%;
    background: #1f2937;
    padding: 2px 15px;
    margin-top: -15px;
    border-radius: 7px;
    border: 2px solid #374151;
}

.btn.generate:focus {
    background: #a157dc !important;
}

.relative {
    position: relative;
}

.counterPrompt span {
    font-size: 14px;
}

.counterNegPrompt {
    position: absolute;
    right: 2%;
    background: #1f2937;
    padding: 2px 15px;
    margin-top: -15px;
    border-radius: 7px;
    border: 2px solid #374151;
}

.counterNegPrompt span {
    font-size: 14px;
}

.fourEventsActions .col-md-2 {
    margin: 0px 10px;
}

.fourEventsActions .col-md-2 button {
    padding:20px;
}

.fourEventsActions .col-md-2:nth-child(1) {
    margin-left:0px;
}

.fourEventsActions .col-md-2 button:hover {
    background: #a157dc;
    border: 1px solid #8c2dde;
    transition:.3s;
}
.models_section input {
    color: white;
    background:#444f5e;
}

select {
    background: url('https://exdiffusion.com/newproject/public/img/icons/dropdown.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y:50%;
}
.miscellaneous_section .input-group input[type="checkbox"] {
    margin: 0px 10px;
    accent-color: #a157dc;
    transform: scale(1.5);
    margin-bottom: 15px;
}

.miscellaneous_section .input-group input[type="checkbox"]:nth-child(1) {
    margin-left: 0px;
}

.miscellaneous_section .input-group label {
    margin-right: 30px;
    font-size: 16px;
    margin-bottom:15px;
}